.cross {
    outline: none !important;
}
.product-item {
  padding: 16px;
  &__name {
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
  }
  &__price {
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    &--modal {
        margin-top: 16px;
    }
  }
  &__sign {
    font-weight: 400;
  }
  &__more {
    margin-top: 16px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__image {
    height: 334px;
    @media (min-width: 768px) {
      height: 426px;
    }

    @media (min-width: 1200px) {
      height: 455px;
    }
    img {
      height: 100%;
      border-radius: 6px;
    //   box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);

      width: 100%;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
      user-select: none;
      transition: 0.25s all ease;
      transform: scale(1.02);
    }
  }
  &__modal-image {
    height: 500px;
    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }
  }
}
.modal-header {
    border-bottom: none;
}
