.cross {
  outline: none !important;
}
.product-item {
  padding: 16px;
  &__name {
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
  }
  &__price {
    font-size: 23px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--modal {
      margin-top: 16px;
    }
  }
  &__sign {
    font-weight: 400;
  }
  &__more {
    margin-top: 16px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__image {
    height: 334px;

    @media (min-width: 1200px) {
      height: 426px;
    }
    img {
      height: 100%;
      border-radius: 6px;
      //   box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);

      width: 100%;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
      user-select: none;
      transition: 0.25s all ease;
      transform: scale(1.02);
    }
  }
  &__modal-image {
    height: 500px;
    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }
  }
  &__cost {
    display: flex;
    align-items: center;
    &--amount {
      &-before {
          color: rgba(darkgray, 0.5);
          text-decoration: none;
          position: relative;
          font-size: 12px;
          line-height: 16px;
          height: 16px;
          font-weight: 100;
          &:after {
            content: " ";
            display: block;
            width: 100%;
            border-top: 1px solid rgba(darkgray, 0.8);
            height: 2px;
            position: absolute;
            bottom: 8px;
            left: 0;
            transform: rotate(20deg);
        }
      }
      &-after {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 8px;
      }
    }
  
  }
}
.modal-header {
  border-bottom: none;
}
