.partner {
  &__message {
    font-size: 21px;
    margin-bottom: 40px;
  }
  border-top: 1px solid #f7f7f7;

  @media (min-width: 568px) {
    border: none;
    background: #435584;
    color: #fff;
  }

  padding: 70px 0;
  margin: 0 auto;

  &__form {
    position: relative;
    margin: 0 auto;
    max-width: 280px;
    @media (min-width: 568px) {
      max-width: 570px;
      border-radius: 3px;
      padding: 70px;
      color: #212529;
      background: white;
    }
  }
  &__cat {
    position: absolute;
    top: -40px;
    rotate: -2deg;
    left: 0;
    display: block;
    @media (max-width: 568px) {
      display: none;
    }
  }
}
